<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid shadow-sm">
            <a class="navbar-brand px-5" href="#"><img src="/assets/img/logo.jpg" alt="logo" width="60rem"></a>
            <button class="navbar-toggler text" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end px-lg-5 py-3" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text fs-5 fw-bold pe-lg-5" aria-current="page" href="#about">
                            Sobre mí
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text fs-5 fw-bold pe-lg-5" href="#work">
                            Mi trabajo
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text fs-5 fw-bold pe-lg-5" href="#contact">
                            Contacto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/assets/files/CV-Darwin-Bedoya.pdf" type="button" class="btn btn-outline-primary"
                            target="_blank" download="CV-Darwin-Bedoya">Descargar CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container background-color p-5">
        <div class="pb-5 px-lg-5 m-lg-5">
            <div class="pb-5">
                <h4 class="text-color">Hola, mi nombre es</h4>
                <p class="text-white fw-bold display-2 ">Darwin Bedoya</p>
                <p class="text-white fw-bold display-5 ">Frontend Developer</p>
                <h3 class="text-white fw-bold">fgudkghdghgeorjeir</h3>
            </div>

            <div id="about" class="row pt-5">
                <div class="col-12 col-lg-7 pb-5 text-white">
                    <h4 class="text-color-two">Sobre mí</h4><br>
                    <h3>Desarrollador web con capacidades para apoyar en diseños de sitios informativos y
                        mejorar la
                        eficiencia de estos. Soy comprometido, dispuesto a adaptarme a cualquier entorno y
                        aportar
                        mi
                        conocimiento.
                    </h3>
                </div>
                <div class="col-12 col-lg-5 text-white px-lg-5">
                    <div class="px-lg-5">
                        <h4 class="text-white text-color-two">Conocimientos</h4><br>
                        <ul>
                            <li>HTML</li>
                            <li>SCSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>SQL</li>
                            <li>Angular</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>